body * {
    border: 1px solid grey;
}

.subtitle {
    text-align: left;
}

p {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.five-day-details {
    height: 100px; 
    width: 18%;
}

.btn {
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-width {
    width: 100%;
}

/*
.search-history * {
    display: none;
}
*/

